<div class="container " style="background-color:white; width: 400px;">
    <!-- Single button -->
    <div class="row">
        <img src="assets/images/Zebi.png" style="width: 450px; height: 250px;">
    </div>
    <div class="row" style="background-color: whitesmoke; text-align: center; padding: 20px; 
    border-radius: 15px; height: 300px; width: 440px;" >
        <div class="row" style="text-align: left; padding-left: 20px; vertical-align: middle;">
            <h6> <b> {{sourceLabel}} </b></h6>
        </div>
        <div class="row" style="text-align: left; padding-left: 20px;">
            <input type="text" class="form-control" placeholder="{{sourcePlaceHolder}}" style="width: 380px; height: 40px;">
        </div>
        <div class="row" style="text-align: left; padding-left: 20px;">
            <h6> <b> {{destLabel}} </b></h6>
        </div>
        <div class="row" style="text-align: left; padding-left: 20px;">
            <input type="text" class="form-control" placeholder="{{destPlaceHolder}}" style="width: 380px; height: 40px;">
        </div>
        <div class="row" style="padding: 20px;">
            <div class="btn btn-primary" style="width: 380px;" (click)="continue()">Continue</div>
        </div>
    </div>
</div>